In [1]:
import sys
sys.path.insert(0, '..')

In [2]:
from src.eventstream import Eventstream, RawDataSchema
from src import datasets
test_stream: Eventstream = datasets.load_simple_shop()

/home/vladimir/Workspace/retentioneering/retentioneering-tools-new-arch/examples/../src/params_model/params_model.py:68: UserWarning: Callable filter was excluded from schema since JSON schema has no equivalent type.
  params_schema: dict[str, Any] = cls.schema()
/home/vladimir/Workspace/retentioneering/retentioneering-tools-new-arch/examples/../src/params_model/params_model.py:68: UserWarning: Callable negative_function was excluded from schema since JSON schema has no equivalent type.
  params_schema: dict[str, Any] = cls.schema()
/home/vladimir/Workspace/retentioneering/retentioneering-tools-new-arch/examples/../src/params_model/params_model.py:68: UserWarning: Callable positive_function was excluded from schema since JSON schema has no equivalent type.
  params_schema: dict[str, Any] = cls.schema()

In [4]:
test_stream.clusters.extract_features()

,cart_tfidf,catalog_tfidf,delivery_choice_tfidf,delivery_courier_tfidf,delivery_pickup_tfidf,lost_tfidf,main_tfidf,payment_card_tfidf,payment_cash_tfidf,payment_choice_tfidf,payment_done_tfidf,product1_tfidf,product2_tfidf
user_id,,,,,,,,,,,,,
122915,0.071095,0.796693,0.000000,0.000000,0.000000,0.050792,0.433586,0.0,0.0,0.000000,0.000000,0.376298,0.167480
463458,0.000000,0.950397,0.000000,0.000000,0.000000,0.136331,0.166254,0.0,0.0,0.000000,0.000000,0.000000,0.224765
1475907,0.190821,0.593985,0.230837,0.298851,0.000000,0.136328,0.332502,0.0,0.0,0.270565,0.000000,0.252498,0.449520
1576626,0.000000,0.000000,0.000000,0.000000,0.000000,0.634086,0.773263,0.0,0.0,0.000000,0.000000,0.000000,0.000000
2112338,0.000000,0.704163,0.000000,0.000000,0.000000,0.269359,0.656962,0.0,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999275109,0.355102,0.442142,0.429567,0.000000,0.655381,0.253694,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
999642905,0.289277,0.360183,0.349939,0.453045,0.000000,0.000000,0.252029,0.0,0.0,0.410166,0.476576,0.000000,0.000000
999914554,0.128042,0.797132,0.000000,0.000000,0.000000,0.091477,0.557774,0.0,0.0,0.000000,0.000000,0.169427,0.000000
999916163,0.812397,0.505763,0.000000,0.000000,0.000000,0.290199,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
999941967,0.000000,0.656969,0.000000,0.000000,0.000000,0.753918,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000