In [1]:
import pandas as pd

In [2]:
import sys
sys.path.insert(0, '..')

In [3]:
df = pd.read_csv("../src/datasets/data/simple-onlineshop.csv")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35381 entries, 0 to 35380
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    35381 non-null  int64
 1   event      35381 non-null  object
 2   timestamp  35381 non-null  object
dtypes: int64(1), object(2)
memory usage: 829.4+ KB

In [19]:
from src.eventstream import Eventstream, EventstreamSchema, RawDataSchema

In [33]:
df['country'] = 'USA'
users = df['user_id'].unique()[:1500]
df.loc[df['user_id'].isin(users),'country'] = 'UK'

In [34]:
df.country.value_counts()

USA    18200
UK     17181
Name: country, dtype: int64

In [35]:
df.head()

     user_id     event                   timestamp country
0  219483890   catalog  2019-11-01 17:59:13.273932      UK
1  219483890  product1  2019-11-01 17:59:28.459271      UK
2  219483890      cart  2019-11-01 17:59:29.502214      UK
3  219483890   catalog  2019-11-01 17:59:32.557029      UK
4  964964743   catalog  2019-11-01 21:38:19.283663      UK

In [47]:
raw_data_schema=RawDataSchema(
                event_name="event",
                event_timestamp="timestamp",
                user_id="user_id",
                # custom_cols = [{"custom_col": 'country',
                #                  "raw_data_col": "country"}]
            )

In [48]:
df.head()

     user_id     event                   timestamp country
0  219483890   catalog  2019-11-01 17:59:13.273932      UK
1  219483890  product1  2019-11-01 17:59:28.459271      UK
2  219483890      cart  2019-11-01 17:59:29.502214      UK
3  219483890   catalog  2019-11-01 17:59:32.557029      UK
4  964964743   catalog  2019-11-01 21:38:19.283663      UK

In [49]:
source = Eventstream(
            raw_data_schema=raw_data_schema,
            raw_data=df)
source.to_dataframe()

,event_id,event_type,event_index,event,timestamp,user_id
0,824a00fe-fa80-4fb1-bfe1-bf0c0fef9282,raw,0,catalog,2019-11-01 17:59:13.273932,219483890
1,77e89715-66cf-41ec-bce9-e6d5dc9729b1,raw,1,product1,2019-11-01 17:59:28.459271,219483890
2,7f3fe0ce-2da2-4d42-8009-d879e316a2cb,raw,2,cart,2019-11-01 17:59:29.502214,219483890
3,6a7285f4-d07d-4848-aa96-e10e27dbea9d,raw,3,catalog,2019-11-01 17:59:32.557029,219483890
4,2927fc95-8e9c-4c06-ace3-fbc18d2fbba3,raw,4,catalog,2019-11-01 21:38:19.283663,964964743
...,...,...,...,...,...,...
35376,5723398b-0984-461f-8190-fb175bcc9af7,raw,35376,catalog,2020-04-29 12:47:40.975732,501098384
35377,824551fb-64df-435b-8472-d7b3bdd6123a,raw,35377,catalog,2020-04-29 12:48:01.809577,501098384
35378,30426c82-0231-4123-98f4-deeea45fbad3,raw,35378,main,2020-04-29 12:48:01.938488,501098384
35379,b784bd8c-8930-43c6-b85d-d46078f9ced8,raw,35379,catalog,2020-04-29 12:48:06.595390,501098384
35380,fd45694f-7000-4924-ac25-fa525602ebfa,raw,35380,lost,2020-04-29 12:48:07.595390,501098384